$header-height: 180px;
$profile-pic-side: 80px;

#std-info {
    padding: 0px 15vw 0px 15vw;
    box-sizing: border-box;
    margin-top: 48px;
    width: 100vw;
    background: #edebe9;
    min-height: 100vh;
}

.header {
    width: 70%;
    z-index: 1;
    padding: 15px 0 15px 0;
    box-sizing: border-box;
    height: $header-height;
    background: inherit;
    position: fixed;
    .main-info {
        width: 100%;
        display: flex;
        align-items: center;
        font-family: 'Kanit', sans-serif;
        .header-name {
            margin-left: 20px;
            h1 {
                color: black;
                font-size: 150%;
                font-weight: 500;
                margin: 0;
            }
            h2 {
                color: #646464;
                font-size: 100%;
                font-weight: 400;
                margin: 0;
            }
        }
        img {
            width: $profile-pic-side;
            height: $profile-pic-side;
            border-radius: 50%;
            object-fit: cover;
            display: block;
            background: gray;
            border: 5px solid white;
        }
    }
    .info-menu {
        margin-top: 32px;
        width: 100%;
        height: 32px;
        user-select: none;
        box-sizing: content-box;
        border-top: 2px solid rgb(209, 209, 209);
        border-bottom: 2px solid rgb(209, 209, 209);
        font-family: 'Kanit', sans-serif;
        font-size: 90%;
        color: rgb(99, 99, 99);
        font-weight: 500;
        .info-choice {
            border-bottom: none;
            color: rgb(99, 99, 99);;
            font-weight: 400;
            width: 33%;
            cursor: pointer;
        }
        .info-choice.selected {
            border-bottom: 3px solid black;
            color: black;
            font-weight: 500;
            cursor: default;
            width: 33%;
        }
    }
}

.icon-text {
    display: flex;
    align-items: center;
    color: white;
    width: 100%;
    margin-top: '3px';
    font-size: 90%;
}

.profile {
    margin-top: $header-height + 16px;
    box-sizing: border-box;
    position: absolute;
    z-index: 0;
    width: 70%;
    display: flex;
    * .inner {
        background: white;
        border-radius: 8px;
        border: 2px solid rgb(204, 204, 204);
        padding: 6px;
    }
    .contact {
        position: relative;
        width: 40%;
        padding-left: 6px;
        * {
            :not(.material-symbols-rounded) {
                font-family: 'Sarabun', sans-serif;
            }
            h1 {
                margin: 0;
                padding: 0;
            }
        }
    }
    .info {
        position: relative;
        width: 60%;
        padding-right: 6px;
        * {
            :not(.material-symbols-rounded) {
                font-family: 'Sarabun', sans-serif;
            }
            h1 {
                font-size: 125%;
                margin: 5px 0px 5px 0px;
                padding: 0;
            }
            .table {
                border-radius: 8px;
                width: 95%;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 20px;
                box-sizing: border-box;
                box-shadow: 0px 2px 4px 2px rgb(192, 192, 192);
                border: 2px solid gray;
                .row {
                    width: 100%;
                    border-bottom: 1px solid gray;
                    display: flex;
                    padding: 8px;
                    box-sizing: border-box;
                    align-items: center;
                    background: none;
                    &:last-child {
                        border-bottom: none;
                    }
                    div {
                        &:first-child {
                            width: 25%;
                            text-align: left;
                            font-weight: 500;
                        }
                        &:last-child {
                            width: 75%;
                            text-align: right;
                            color:rgb(99, 99, 99);
                        }
                    }
                }
            }
            .student {
                display: flex;
                align-items: center;
                border-radius: 8px;
                width: 95%;
                margin-left: auto;
                margin-right: auto;
                background: white;
                border: 2px solid gray;
                padding: 8px;
                box-sizing: border-box;
                margin-bottom: 8px;
                cursor: pointer;
                user-select: none;
                img {
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    object-fit: cover;
                    background: gray;
                }
                div {
                    margin-left: 8px;
                }
            }
        }
    }
}

.subjects {
    margin-top: $header-height + 16px;
    box-sizing: border-box;
    position: absolute;
    z-index: 0;
    width: 70%;
    .table {
        width: 100%;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box;
        font-family: 'Sarabun', sans-serif;
        .row {
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 100%;
            background: white;
            height: 32px;
            &:first-child {
                font-weight: 500;
                background:rgb(17, 0, 112);
                color: white;
                height: 42px;
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
                * {
                    &:nth-child(2) {
                        border-left: 1px solid white;
                        border-right: 1px solid white;
                    }
                }
            }
            &:nth-child(even) {
                background-color: rgb(214, 214, 214);
            }
        }
    }
}