.relative-inner {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  * {
      position: absolute;
      * {
        position: static;
      }
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}